body
{
	text-align: center;
	background-color: black; 
	font-family: impact;
	font-size: 25px;
	color: white;
}

h1
{
	font-size: 50px;
	color: red !important;
}

/* Nieodwiedzony link */
a:link
{
	color: rose;
}

/* Odwiedzony link */
a:visited
{
	color: green;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: red;
}